<%inherit file="../base.mako"/>
<%block name="title">
    User Description
</%block>
<%block name="h1">
    suppression d'un utilisateur
</%block>
<article class="columnflexbox">
<form class="columnflexbox baselineflex" method="post" target="_self">
    <input name="login" placeholder="login" value=''>
    <button>Supprimer Utilisateur</button>
</form>
</article>