sup_user.mako<%inherit file="../base.mako"/>

<%block name="title">
    User Description
</%block>
<%block name="h1">
    ${user}'s profil
</%block>
<form>
    <input name="name" placeholder="name"/>
    <button>add User</button>
</form>