<%inherit file="../base.mako"/>

<%block name="title">
    User Description
</%block>
<%block name="h1">
    profil de ${cont.param["user"].login}
</%block>
<article class="lineflexbox">
    <div> <img src="http://localhost/azofihazoifh"/> </div>
    <div class="columnflexbox"><span>Nom d'utilisateur : <span style="color:blue">${cont.param["user"].login}</span> </span>
    <span>Nom: <span style="color:blue">${cont.param["user"].name}</span> </span>
    <span>Prénom : <span style="color:blue">${cont.param["user"].first_name}</span></span>
    <span>Mail : <span style="color:blue">${cont.param["user"].mail}</span></span>
    <span>Civilité : <span style="color:blue">${cont.param["user"].civility}</span></span></div>

</article>