<%inherit file="base.mako"/>
<%block name="title">
    Authentification de l'utilisateur
</%block>

<%block name="h1">
   Authentification
</%block>
<article class="columnflexbox">
        %if  cont.param["error"] is True :

        <div class="error">
            Erreur d'identifiants/mot de passe
        </div>
    %endif
    <form class="columnflexbox baselineflex" method="post" target="_self">
      <input type="text" name="login" required placeholder="login">
        <input type="password" name="password" required placeholder="password">
        <button type="submit"> connexion </button>
    </form>

</article>