html{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display:flex;
    height: 100%;
    min-width:360px;
    min-height:360px;
}
body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width:100%;
}

.columnflexbox{
    display:flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-around;
}

.columnflexbox>*{
    flex: 1 1 auto;
}

.lineflexbox{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
}

@media (max-width: 800px){
    .lineflexbox {
        flex-wrap: wrap;
    }
    .lineflexbox>*{
        text-align:center;
    }
    section>.lineflexbox>*{
        text-align:left;
    }
}
img{
    min-height:200px;
}
.lineflexbox>*{
}

.error{
    height:38px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    background: #a10000;
    color:white;
    padding:3px 3px 3px;
}
button{
    border: 1px outset lawngreen;
    background: #49c13a;
}

.baselineflex{
    align-items: center;
    justify-content: center;
}
.baselineflex>*{
    margin-top:10px;
}
.menu, .footer {
    background-color: #38C;
    color: white;
    margin :0 0 0 0;
    padding:10px;
    flex:0 0 auto;
}
.menu>nav:last-child>a{
    text-align: right;
    color:white;
}
header  a {
    color:white;
}
header  a:visited {
    color: #e6cbcb;
}
footer{
    text-align: right;
}
section{
    flex : 1 1 auto;
    display:flex;
    flex-direction:column;
    align-items: stretch;
}
.flexoneauto{
    flex: 1 1 auto;
}

.title{
    background-color: #1d4d73;
    color:whitesmoke;
    margin-top:0;
    padding:10px;
    text-align:center;
    flex: 0 0 auto;
}
article{
    height:100%;
}

input , button{
    width:300px;
    max-height:40px;
    border-radius:0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#pDebug{
  display:none;
}
form{
    height:100%;
}
